body{
    font-family: 'Playfair Display', serif;
    background-color: #FEF9F8;
   
}

nav{
    background-color: #f9f2f1;
}

.navbar-collapse{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-brand{
    font-size: 40px;
    font-weight: bold;
}

.nav-link{
    color: #0D0D0D;
}


.social-icon a{
    padding-left: 5px;
    text-decoration: none;
    color: #0D0D0D;
}

.portrait{
    width: 400px;
    margin-bottom: 15px;
    margin-top: -15px;
    margin-left: -20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-right: 10px;
}

.portrait-bg{
    background-color: #F6D0B3;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-left: -10px;
    margin-right: -50px;
}

.content-sections{
    background-color: #EF9273;
}

.light-content-sections{
    background-color: #f9f2f1;
}

.faded-title{
   display: block;
   margin: auto;
  
   
}

.about-title{
     width: 450px;
}

.headers{
    position: relative;
}

.section-title{
  text-align: center;
  font-weight: 900;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #F6D0B3;
}

.new{
    color: #EF9273;;
}

.logos{
    width: 70px;
    margin-right: 30px;
    margin-top: 5px;
    padding-right: 10px;
}

.sub-heading{
    font-weight: 800;
}

.sub-heading-word{
    
    color: #EF9273;
}



.custom-tab.active{
    color: #EF9273 !important;
}

.project-picture{
    height: 288px;
}
.project-title{
   color: #EF9273;
  
}

.card{
    width: 18rem;
}


@media screen and (max-width:800px) {

    .mobile-nav {
        display: flex;
        justify-content: start;
        padding: 8px;
    }

    .navbar-brand{
        font-size: 25px;
        margin-right: 0;
        
    }

    h1{
        text-align: center;
    }
    
    .portrait{
        width: 300px;
    }

   .intro-text{
    text-align: center;
   
   }
   .portrait-bg{
    background-color: #FEF9F8;
    margin: 0;
    padding: 0;
   }

   .portrait{
    margin: 0;
    padding-right: 0;
   }

   .about-title{
    width: 300px;
   }

   .section-title{
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 25px;
    
}

.portfolio-title{
    width: 350px;
}

.logos{
    width: 30px;
    margin-right: 15px;
    padding-right: 0;
}


.projects-list{
    text-align: center;
}

.card{
    width: auto;
    
}

.project-picture{
    height: auto;
}

}
