body{
    font-family: 'Playfair Display', serif;
    background-color: #FEF9F8;
   
}

nav{
    background-color: #f9f2f1;
}

.navbar-collapse{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-brand{
    font-size: 40px;
    font-weight: bold;
}

.nav-link{
    color: #0D0D0D;
}


.social-icon a{
    padding-left: 5px;
    text-decoration: none;
    color: #0D0D0D;
}

.portrait{
    width: 400px;
    margin-bottom: 15px;
    margin-top: -15px;
    margin-left: -20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-right: 10px;
}

.portrait-bg{
    background-color: #F6D0B3;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-left: -10px;
    margin-right: -50px;
}


@media screen and (max-width:800px) {

    .mobile-nav {
        display: flex;
        justify-content: start;
        padding: 8px;
    }

    .navbar-brand{
        font-size: 25px;
        margin-right: 0;
        
    }

    h1{
        text-align: center;
    }
    
    .portrait{
        width: 300px;
    }

   .intro-text{
    text-align: center;
   
   }
   .portrait-bg{
    background-color: #FEF9F8;
    margin: 0;
    padding: 0;
   }

   .portrait{
    margin: 0;
    padding-right: 0;
   }
}
